*{
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
}
body{
  font-family: "Helvetica Neue", "Helvetica", "sans-serif";
}
#app-container{
  width:1400;
  height:auto;
}
.navbar-container {
  display: inline-block;
  vertical-align: top;
  font-size: medium;
  background-color: black;
  width:100%;

}
.body-column{
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.top-container-column{
  display: inline-block;
  vertical-align: top;
  font-size: medium;
}
.list2-container{
display: inline;
vertical-align: top;
width: 100%;
margin-left: 20px;
border-bottom: 2px solid grey;

}
.upcoming-column {
  width:100%;
  display: inline-block;
  vertical-align: top;
  font-size: medium;
  text-align: right;
}
.upcoming-column img{
  width: 100px;
  height: 100px;
  margin-left: 450px;
}

.history-column {
display: inline-block;
vertical-align: top;
font-size: medium;
}
.about-container{
  display: inline-block;
  width: 70%;
  height: -200px;
  border-bottom: solid 1px grey;
}
.legacy-container {
  display:inline-block;
  width: 70%;
  height:150px;
  border-bottom: solid 1px grey;
}
.future-container {
  display: inline-block;
  width: 50%;
  color: red;
  border-bottom:1px grey solid;
}
.future-container img{
  display:inline-block;
  width: 50%;
  height: 300px;
  margin-left: 100%;
  margin-top: -165px;
}
.future-container h1{
  font-size: 20px;
}

.middle1-container{
  display: inline-block;
  vertical-align: top;
  font-size: medium;
}
.Alfred-column{
  display: inline-block;
  vertical-align: top;
  font-size: medium;
}
.school-image-container{
  width: 100%;
}
.Architect-container {
background-color: red;
width: 100%;
margin-left: 400px;
}
.school-image-container img {
  display: inline-block;
  width: 30%;
  padding-bottom: 50px;
}

.alert-bar-container {
  position: fixed;
  padding:10px;
  color: white;
  font-size: 9px;
  height: 100px;
  bottom: 0;
  margin-bottom: 30px;
  right:0;
  border: #3A539B solid 1px;
  width: 250px;
  background-color: #3A539B;
}
.something-special i{
    color: #8b0000;
    font-size: 24px;
}

.footer-container p {
background-color: purple;
  font-size: 15px;
  display: inline-block;
  margin-left: auto;
  margin-right: 0;
  margin-top: 100px;
}
