*{
  box-sizing: border-box;
}

body{
  font-family: "Helvetica Neue", "Helvetica", "sans-serif";
}
#app-container{
  width:100%;

}
.navbar-container{
  width:100%;
  color:white;
  background-color: #373737

}
.navbar-logos-container{
   display: block;
   vertical-align:top;
   font-size: 0;
   width: 80%;
}
.logo-short{
   display: inline-block;
   width:30%;
   font-size: medium;
}
.logo-label-long{
   display: inline-block;
   font-size: medium;
   vertical-align: top;
   width: 70%;
}
.logo-short img{
   width: 100%;
   display:block;
   height: 75px;
}

.logo-label-long img{
   width: 100%;
   display: block;
   height:75px;
}
.navbar-container ul{
   padding-left: 5px;
   list-style: none;
   display: inline-block;
   margin-bottom:10px
}
.navbar-container li{
   display: inline-block;
   padding-right:15px;
   padding-left:15px;
}
.secondary-nav ul{
   padding-left: 15px;
   list-style:none;
   display: inline-block;
   margin-bottom: 15px;
}
.secondary-nav li{
   display: inline-block;
   padding-right: 15px;
   padding-left: 10px;
   list-style: none;
   border: 1px solid black;
   
}



.upcoming-events-container{
   height: 450px;

}
.single-event h3{
   font-size:
}
.single-event{
   font-size:medium;
   display:block;
   vertical-align: top;
   text-align: right;
   height: 161px;
}
.image-column{
   width: 921px;
   height: 0px;
}

.history-container {
margin-top: -550px;
display: inline-block;
width: 900px;
border-bottom: solid 1px grey;
}


.about-container {
  width: 70%;
  font-size: medium
}
.legacy-container{
  font-size: medium;
  width:70%;
}

.middle1-container{
  display: inline-block;
  vertical-align: top;
  font-size: medium;
}



.future-container {
  border-bottom:1px grey solid;
  display:inline-block;
}
.future-container p{
   padding-top: 35px;
   padding-bottom: 10px;
}
.sha-column{
   display:inline-block;
   vertical-align: top;
   padding-top: 0px;
   width:40%;
   font-size: medium;
}
.future-img{
  display:inline-block;
  width: 50%;
  padding-left: 35px;
}

.glassell-column{
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: medium;
}
.alfred-img{
   display: inline-block;
   width:30%;

}


.box-fixed {
  position: fixed;
  padding:10px;
  color: white;
  font-size: 9px;
  height: 100px;
  bottom: 0;
  margin-bottom: 30px;
  right:0;
  border: #3A539B solid 1px;
  width: 250px;
  background-color: #3A539B;
}
.something-special i{
    color: #8b0000;
    font-size: 24px;
}
.footer-container li {
  font-size: 12px;
  padding: 5px;
  margin: 5px;
  display: inline-block;
}
.footer-container i{
   color: #DB4B38;
   margin-left: 3px;
}
